@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.wrapper__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://sh4ke96.github.io/PasswordGenerator/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    margin: 1rem;
    background-color: #7f7f7f;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    .wrapper__title {
      color: #fff;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 1rem;
      text-align: center;
    }
    .wrapper__header {
      display: flex;
      align-items: center;
      position: relative;
      .wrapper__result {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
        width: 250px;
        height: 40px;
        border: 2px solid #58555a;
        color: #58555a;
        background-color: #fff;
        font-size: 0.9rem;
      }
      .result__btn {
        position: absolute;
        padding: 0.58rem;
        right: 0;
        top: 0;
      }
      .wrapper__header-input:focus {
        outline: none;
      }
      .wrapper__header-input::placeholder {
        letter-spacing: 2px;
      }
    }
    .wrapper__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      .wrapper__setting {
        .wrapper__setting-title {
          color: #fff;
          font-size: 1.1rem;
        }
      }
      .setting__btn {
        margin-top: 1rem;
        font-size: 1.1rem;
      }
    }
    .wrapper__btn {
      background-color: #58555a;
      border: none;
      padding: 1rem;
      color: #fff;
      font-size: 0.9rem;
      letter-spacing: 2px;
      .wrapper__icon {
        font-size: 1.5rem;
      }
    }
    .wrapper__btn:hover {
      cursor: pointer;
      background-color: #3a393b;
    }
  }
}
